%bordered {
	border: 2px solid var(--line-color);
	border-radius: 5px;
}
.Employee {
	header {
		.Profile {
			@extend %bordered;
			.ImgWrapper {
				@extend %bordered;
				min-height: 200px;
				width: 200px;
			}
		}

		.Controls {
		}
	}
	main {
		// min-height: 45vh;
		@extend %bordered;
		margin-top: 0.75rem;
	}
}
