%bordered {
	border: 2px solid var(--line-color);
	border-radius: 5px;
}
.Employee {
	header {
		.Profile {
			@extend %bordered;
			.ImgWrapper {
				@extend %bordered;
				min-height: 200px;
				width: 200px;
			}
		}
	}
	main {
		margin-top: 0.75rem;
		padding: 0;

		form {
			div {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
				grid-column-gap: 0.375rem;
				align-items: flex-start;
			}
		}
	}
}
