.Loader {
  display: grid;
  height: fit-content;
  width: fit-content;
  // justify-content: center;
  // align-items: center;
  // flex-direction: columns;
  position: relative;
  background-color: #fff;

  padding: 1.5rem;
  .Spinner {
    background-color: red;
  }
  .Brand {
    text-transform: capitalize;
  }
}

.LoaderMessage {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 23;
}
