.form-group {
	.formControl {
		&.noBorder {
			border: none;
		}
	}
	label {
		margin: 0;
		text-transform: capitalize;
		font-weight: bold;
		display: block;
	}
	margin-bottom: 0.75rem !important;
}
