.Section {
  margin-bottom: 2em;
  width: 100%;
}

.Titles {
  margin-bottom: 0.5em;
}

.SubTitle {
  font-size: 0.875rem;
  background-color: var(--magic-mint);
  width: fit-content;
  max-width: 900px;
  /* color: var(--inverse-text); */
  padding: 0.8em 1em;
  border-radius: 25px;
}

.SectionTitle {
  margin-bottom: 0.25em;
  font-size: 1.5rem;
  color: var(--basic-color);
  text-transform: capitalize;
}
