.button.fill,
.button.highlight {
  // border: 2px solid;
}
.button {
  cursor: pointer;
  // font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: all 500ms;
  font-size: 80%;
  letter-spacing: 1px;
  border: none;
  padding: 0.7em 1em;
}
.button:hover,
.button:focus {
  opacity: 0.85;
}

.button.highlight,
.button.fill {
  color: var(--inverse-text) !important;
}

.button.fill {
  background: var(--basic-color);
}

.button.highlight {
  background: var(--assent);
  outline-color: var(--assent);
}
.button.fill:hover {
  color: var(--basic-color);
}
.button.fill:hover::before,
.button.highlight:hover::before {
  background: var(--inverse-text);
}
.button.highlight:hover {
  color: var(--assent);
}

.button.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.button.disabled.fill:hover,
.button.disabled.highlight:hover {
  color: var(--inverse-text);
}
