// .button.fill,
// .button.highlight {
//   border: 2px solid;
// }
.button,
button {
  cursor: pointer;
}

.button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: all 200ms;
  font-size: 80%;
  letter-spacing: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0.7em 1.5em;
  opacity: 0.9;
}

.button:not(:first-of-type) {
  margin-left: 0.5em;
}

.button:hover {
  opacity: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button.highlight,
.button.fill,
.button.danger {
  color: var(--inverse-text) !important;
}

.button.fill {
  background: var(--basic-gradient);
}

.button.highlight {
  background: transparent;
  border-color: var(--basic-color) !important;
  color: var(--basic-color) !important;
}

.button.highlight:hover {
  background: var(--basic-color);
  border-color: var(--basic-color) !important;
  color: var(--inverse-text) !important;
}
.button.fill:hover {
  color: var(--basic-color);
}
.button.highlight:hover {
  color: var(--assent);
}

.button.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.button.disabled.fill:hover,
.button.disabled.highlight:hover {
  color: var(--inverse-text);
}

.button.danger {
  background: var(--dogwood-rose);
}

.button.plain {
  background: var(--light-gray);
  color: var(--text);
}

.button.block {
  margin: 0.8em 0;
  display: block;
  width: 100%;
}

.button.fullwidth {
  width: 100%;
}
