.Actions {
  display: flex;

  &.Right {
    justify-content: flex-end;
  }
}

.DisplayInfo {
  display: grid;
  margin: 0.5em;
  p {
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    font-size: 0.875rem;
  }

  span {
    font-size: 0.8rem;
  }
}
