.Actions {
  display: flex;

  &.Right {
    justify-content: flex-end;
  }
}

.DisplayInfo {
  display: flex;
  flex-wrap: wrap;
  p {
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 1em;
  }
}
