.col:nth-child(1) {
	height: 100vh;
	display: grid;
	place-items: center;
	overflow-y: scroll;
}
.col:nth-child(1) form {
	padding: 1.5rem 0;
}
.col:nth-child(1) .form-title {
	margin-bottom: 1.5rem;
	text-transform: capitalize;
	text-align: center;
	width: 250px;
}
.col:nth-child(1) .form-group {
	margin-bottom: 0.75rem;
}
.col:nth-child(1) .formControl {
	width: 100%;
}

.col:nth-child(2) {
	background: var(--basic);
}
