.GlobalFilters {
  width: 100%;

  div {
    cursor: pointer;
  }

  form {
    background: var(--core-bg-color);
  }
}

.GlobalFilters_Inner {
  width: 100%;
}

.ButtonArea {
  bottom: 0;
  width: 100%;
  background: var(--core-bg-color);

  button {
    width: 50%;
    margin-left: auto;
  }
}
