.InfoBlock {
	min-height: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	.Title {
		grid-column: 1/-1;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0.75rem;
	}
	.InfoCol {
		// @extend %bordered;

		.Label {
			text-transform: capitalize;
			font-weight: bold;
			font-size: 80%;
			margin: 0;
		}
		.Value {
			margin-left: 0.37rem;
		}
	}
}
