.InfoCol {
  // @extend %bordered;

  .Label {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.875rem;
    margin: 0;
  }
  .Value {
    text-transform: capitalize;
    font-size: 0.8rem;
  }
}
