%pleaseNameMe {
	padding: 0;
	margin: 0;
	width: 100%;
}

.Filter button {
	background-color: rgb(138, 138, 138);
	color: #fff;
}

.Filter .dropdown-menu {
	width: 65vw;
	min-height: 20vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	top: 40px !important;
	transform: translateX(-93%) !important;
	padding: 0;

	.Head {
		@extend %pleaseNameMe;

		text-align: center;
		padding: 0.75rem 0 !important;
		border-bottom: 1px solid var(--line-color);

		div:not(:last-child) {
			@extend %pleaseNameMe;

			border-right: 1px solid var(--line-color);
		}
	}

	ul {
		text-align: left;
		padding: 0 0.75rem;
	}

	input {
		margin-right: 0.75rem;
	}

	.Footer {
		justify-content: center;
		padding: 0.75rem 0;
	}
}
