@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	--basic: #550fb1;
	--basic-light: #9c7bc7;
	--basic-dark: #200542;
	--assent: #24b967;
	--text: #2a2a2a;
	--text-soft: #6d6d6d;
	--inverse-text: #ffffff;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background: var(--inverse-text);
	color: var(--text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 1.5rem;
}
.button,
.formControl {
	padding: 0.375rem 0.75rem;
	border-radius: 5px;
	border: 1.3px solid;
	background: none;
	color: var(--text-soft);
	font-weight: normal;
	outline-color: var(--basic);
}
.alert {
	padding: 0.375rem !important;
	text-align: center;
}
ul {
	list-style: none;
}

.TableRow {
	display: flex;
	border: 1px solid;
	padding: 0.75rem;
	margin-bottom: 0.1875rem;
}
.TableCol {
	flex: 1 1 25%;
	padding-left: 0.75rem;
}
.TableHeader .TableCol:not(:last-child) {
	border-right: 1px solid var(--text-soft);
}
