.TableWrapper {
  width: 100%;
  min-width: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}
.Table {
  table {
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  tr:nth-of-type(even) {
    background: #fff;
  }
  th {
    background: #c0c0c0;
    background: linear-gradient(-135deg, #d3d3d3, #c0c0c0);
    background: var(--basic-color);
    color: var(--inverse-text);
    font-size: 0.875rem;
  }

  td,
  th {
    padding: 1em 0.75em;
    text-align: left;
    min-width: 200px;
  }

  tbody,
  thead {
    width: 100%;
  }

  thead {
    display: block;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }

  thead tr th {
    text-transform: capitalize;
  }

  tbody {
    overflow-y: auto;
    display: grid;
    max-height: 57.7vh;
  }

  tbody tr td {
    font-size: 0.8rem;
  }

  .Filter {
    background-color: rgb(255, 255, 255);
    padding: 0.2em;
  }

  .Filter input {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    padding: 0.3em 0.1em;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  .Filter input:focus {
    outline: none;
    border: 1px solid var(--gray);
  }

  .FunnelIcon {
    margin-right: 0.3em;
    color: var(--text);
  }

  .Clickable {
    cursor: pointer;
  }

  .Clickable:hover {
    background: var(--basic-color-light);
    color: var(--text);
    font-weight: bold;
  }
}

.Pagination {
  margin: 0.5em 0;
  font-size: 0.8rem;

  button:hover {
    transform: scale(1.05);
  }
}
